@import "../../media-query/function.scss";

.Header,
.mobile_menu_sticky {
  background: linear-gradient(90deg, #fc0 0, #fc0 48%, #ffe57f 70%, #fff0b2);

  nav,
  .sub_nav {
    height: 3.875rem;
    padding-inline: 4.6% 7.4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    img {
      display: block;
      width: 136px;
    }

    ul {
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      justify-content: center;
      list-style: none;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1.3rem;
      gap: 6px;
      height: 100%;

      font-size: 0.87rem;
      color: #000;
      line-height: 1.3;

      &:hover {
        color: #d40511;
        text-decoration: underline;
      }

      svg {
        font-size: 0.7rem;
      }
    }
  }

  .menu_btn {
    display: none;

    svg {
      color: #d40511;
      font-size: 1.8rem;
    }
  }

  .sub_nav {
    background: #ffff;
    padding-inline: 5%;
    border-bottom: 1px solid #e0e0e0bd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    a {
      padding-inline: 1.1rem;
    }
  }

  @include responsive("tab") {
    nav {
      padding-inline: 3.5%;
      ul {
        display: none;
      }
    }

    .sub_nav {
      display: none;
    }

    .menu_btn {
      display: block;
    }
  }
}

.mobile_menu_sticky,
.desktop_menu_sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  transition: transform 200ms ease-in;
  display: none;

  @include responsive("tab") {
    display: block;
  }
}

.desktop_menu_sticky {
  background: linear-gradient(90deg, #fc0 0, #fc0 48%, #ffe57f 70%, #fff0b2);
  display: block;

  nav {
    height: 4rem;
    padding-inline: 4.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    img {
      display: block;
      width: 100%;
      width: 136px;
      object-fit: contain;
    }

    > div {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      align-items: center;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1.3rem;
      gap: 6px;
      height: 100%;

      font-size: 0.78rem;
      color: #000;
      line-height: 1.3;

      &:hover {
        color: #d40511;
        text-decoration: underline;
      }

      svg {
        font-size: 0.7rem;
      }
    }

    .icon_group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1.3rem;
      gap: 1rem;
      height: 100%;

      svg {
        font-size: 0.7rem;
      }
    }
  }

  @include responsive("tab") {
    display: none;
  }
}

.mobile_menu_con {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow-y: auto;
}
