.policy_con {
  background-color: #fff;
  padding: 3rem 1.9rem;

  .print {
    display: flex;
    justify-content: flex-end;
  }

  .payment_policies {
    width: 100%;
    max-width: 810px;
    margin: 2rem auto;

    ul,
    ol {
      li {
        line-height: 1.6;
        font-size: 1rem;
        color: rgb(37, 37, 37);
      }

      .title {
        font-weight: 600;
      }
    }

    ul {
      margin: 1rem 0 1rem 1rem;
      list-style-type: disc;

      li {
        margin-bottom: 12px;
      }
    }

    h2 {
      color: #d40511;
      margin-bottom: 1.6rem;
    }
  }

  .consent {
    margin-top: 2rem;

    p {
      line-height: 1.6;
      font-size: 0.8rem;
      color: rgb(37, 37, 37);

      a {
        color: #d40511;
        text-decoration: underline;
      }
    }
  }
}
